.header {
    position: relative;
    /* Ensure the header container is relative for absolute positioning */
}

.img_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header_heading {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}


.img_header img {
    width: 100%;
    filter: brightness(70%);
    object-fit: cover;
}

.header_content {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.header_content h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

.header_content p {
    margin: 10px 0 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.header_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_start {
    padding: 15px;
    color: white;
    background-color: black;
    font-size: 20px;
    width: 20%;
    border: none;
}

.header_learn {
    font-size: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 25%;
}

.header_subheading {
    font-size: 18px !important;
}