.footer {
    background-color: black;
    color: white;
    padding: 20px;
}

.footer .text-center {
    text-align: left;
}

.footer .footer-main img {
    width: 50px;
    height: 50px;
}

.footer-main p {
    font-size: 16px;
}

.footer .contact-info {
    text-align: left;
}

.footer .contact-info h5,
.footer .map h5 {
    margin-bottom: 15px;
}

.footer .contact-info p,
.footer .map p {
    margin: 0;
    margin-bottom: 10px;
}

.footer iframe {
    width: 100%;
    height: 300px;
    border: 0;
}



.footer button {
    display: none !important;
}

.map {
    text-align: left;

}

hr {
    margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {

    .row .col-md-1 {
        padding-left: 0px;
    }

    .row .col {
        padding-left: 0px;
    }

    .row {
        width: 10;
    }

    .footer-section {
        padding: 0;

    }

}