/* General styles */
.main {
    padding: 0px 0px 20px 0px;
}

/* Header styles */
.header {
    position: relative;
}

.img_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img_header img {
    width: 100%;
    filter: brightness(70%);
    object-fit: cover;
}

.header_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.header_heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    /* Adjust spacing */
}

.header_subheading {
    font-size: 1rem;
}

.header_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_start,
.header_learn {
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

.header_learn {
    border: 1px solid white;
}

/* Feature section styles */
.feature {
    margin-top: 70px;
}

.feature-heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.feature-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.feature-item {
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 40px;
}

.feature-text-subheading {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.feature-item .feature-img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-item .feature-text {
    margin-bottom: 20px;
}

.feature-item .feature-text p {
    line-height: 1.5;
}

.feature-item .feature-learn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feature-item .feature-learn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .feature-item {

        margin-bottom: 40px;
    }

    .header_content {
        width: 100%;
        border-radius: 0px;
        height: 100%;

    }

    .header_heading {
        font-size: 19px;
        margin-bottom: 20px;
        /* Adjust spacing */
    }

    .header_subheading {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .header_btn {
        flex-direction: row;
        margin-top: 10px;
    }

    .header_start,
    .header_learn {
        width: 150px;
    }

    .feature-heading {
        font-size: 1.5rem;
    }

}