.mentor-container {
    padding: 50px 0;
}

.mentor_heading {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
}


.mentor-image {
    width: 100%;
    max-width: 600px;
    border-radius: 50%;
}

.mentor-details {
    padding: 20px;
}

.mentor-details h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mentor-details h5 {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
}

.mentor-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.mentor-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mentor-details ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px;
}